body {
	font-family: 'Permanent Marker', cursive;
	margin: auto;
	background-image: url("../img/Scary/Errie_Forrest_L.png");
	background-attachment: fixed;
	border-image-width: 100%;
	backface-visibility: .2;
}
.banner-img {
	position: top;
	width: 100%;
	opacity: .8;

}
.nav-bar {
	height: auto;
	width: auto;
	background-color: none;
	border: none;
	position: right;
	overflow: hidden;
}
.nav-bar:hover {
}
.nav-list {
	float: right;
	text-align: left;
	background-color: none;
	border-radius: 5px;
}
.list-item {
	float: left;
	/*clear:left;*/
	list-style-type: none;
}
.list-item a {
	color: #50ff00;
	background-color: none;
	text-decoration: none;
	border: none;
	border-radius: auto;
	margin: auto;
	margin-top: auto;
	font-size: 20px;
	padding: 5px;
}
.list-item a:hover {
	color: darkred;
}
.main {
	position: center;
}
.main-img {
	display: block;
	margin: auto;
}
.main h1 {
	margin-top: center;
}
.main-text {
	background-color: none;
	height: 100px;
	width: 600px;
	color: #680000;
	position: auto;
	top: auto;
	left: 45%;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-size: 25px;
	text-shadow: none;
	box-shadow:none;
	border-radius: none;
}
.main-section {
	height: 500px;
	width:100%;
	position: absolute;
	top: 900px;
}
.container {
	height: 570px;
	width: 100%;
	margin-top: 20px;
	margin-left: 6%;
}
.col-contact {
	height: 450px;
	width: 45%;
	float: left;
	margin-left: 10px;
	clear: right;
}
footer {
	background-color: #8a3ab9
}
.input, .social, .copy {
	float: left;
	width: 50%;
	text-align: left;
}
.fa-facebook-square {
	color: #3b5998;
	font-size: 5em;
}
.fa-camera {
	color: #1c81a0;
	font-size: 5em;
}
/**end of home style**/

/**about styles**/
.about-container {
	height: 600px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.columns {
	width: 28%;
	border: 3px solid #000000;
	float: left;
	padding: 20px 20px;
	margin-left: 15px;
	overflow: hidden;
	color: darkred;
	font-size: 20px;
}
.col-img {
	height: 300px;
	width: 300px;
	display: block;
	margin: auto;
}
.col-audio {
	height: 150px;
	width: 300px;
	display: block;
	margin: auto;
}
.col-video {
	height: 300px;
	width: 300px;
	display: block;
	margin: auto;
}

/**contact styles**/

.contact-header {
	color: #680000;
	background-color: blue;
	height: 100%;
	width: 100%;
	position: center;
}
.col-contact {
	float: left;
}